/* Estilos para el menu de arriba */

.navbar a{
  margin-right: 70px;
}


/* Estilos contenido y encabezado */

main{
  margin: auto;

}
header{
  margin: 50px;
}


/*Estilo para el menu lateral de opciones*/

.options_menu {
  margin-left:auto;
  margin-right:auto;
  list-style-type: none;
}

.options_menu li{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5%;
}
.options_menu a{
  color: black;
}

/*Estilo para las columnas de texto*/

.text{
  margin-bottom: 15px;
  background-color: rgb(243, 243, 243);
  padding:  10px 20px 10px 20px;
  text-align: justify;
}


/*Carrusel*/
.carousel {
  max-width: 960px;
  margin: auto;
  width: 90%;
}

.carousel-control {
  display: none;
  visibility: hidden;
  opacity: 0;
}
